.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}
/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  } */

.navbar-pages {
  display: block;
  gap: 100px;
  flex-grow: 1;
  border-bottom: 1px solid #e5e7eb;
}

.dark-mode-toggle {
  margin-left: 15px;
}
